* {	font-size:14px; }

QWidget#centralwidget{
	background: qlineargradient(
                    x1:0, y1:0.1, x2:0.5, y2:1,
                    stop: 0 rgb(0, 1, 59),
                    stop: 0.5 rgba(2, 27, 37, 0.931),
                    stop: 1 rgb(8, 47, 25)
                );
}

QGroupBox{
	border: 2px solid  rgb(37, 90, 81);
    border-radius: 9px;
    margin-top: 10px;
	margin-left: 5px;
}

QGroupBox::title{
	subcontrol-origin:margin;
	subcontrol-position: top left;
	padding:0 5px;
	color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #00521b, stop: 0.5 #FFFFFF);
}

QGroupBox > QLabel{
	color: #96cccc;
}


QComboBox{
    combobox-popup: 0; /*Qt does not provide a better way to resize the pop menu*/
	color:rgb(0, 2, 33);
	background-color: rgb(166, 167, 176);
}

QComboBox QAbstractItemView {
    border: 1px solid rgb(147, 149, 148);
	border-radius:0px 5px;
	color:rgb(0, 17, 17);
	selection-color: rgb(0, 0, 80);
	selection-background-color:rgb(0, 175, 26);
	background-color: rgba(151, 181, 177);
}

QLineEdit, QSpinBox{
	selection-color: rgb(0, 0, 80);
	selection-background-color:rgb(0, 175, 26);
	background-color: rgb(166, 167, 176);
}
